*.mp3
Thumbs.db

## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/eclipse
/run_server
/run_client

## intellij
/out
/.idea
/atlassian-ide-plugin.xml

## Private Stuffs
/private.properties
*.launch
openCmd.bat

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar
